AWS_REGION="eu-west-2"
AWS_PROFILE=""
APP_DOMAIN="orders.demo.example.com"
GIT_PROVIDER="github"
GIT_REPO="your-org/demo-incident-response"
# GITLAB_URL="https://gitlab.com"
ROUTE53_ZONE="example.com"
SUBDOMAIN="demo.example.com"
TF_STATE_BUCKET="your-terraform-state-bucket"
